# https://stackoverflow.com/questions/5711120/gitignore-binary-files-that-have-no-extension
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# tmp dir
tmp/

# Input and answer files
input.txt
answer.txt

# Config file
cf.json